<head>
	<title>FileManage</title>
</head>


{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}
 
<form action="/login" method="POST">
<div class="login">
	<div class="login-screen">
		<div class="app-title">
			<h1>Login</h1>
		</div>
		<div class="login-form">
			<div class="control-group">
				<input type="text"  value="" placeholder="username" name="username">
				<label " for="login-name"></label>
			</div>
			<div class="control-group">
				<input type="password"  value="" placeholder="password" name="password">
				<label  for="login-pass"></label>
			</div>
			<input type="submit" value="Log in" > 
		</div>
	</div>
</div>
</form>{% endif %}
{% endblock %}
